<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="signinButton">
      <span class="g-signin"
      data-scope="openid email"
      data-clientid="1035191083193-qsgfe46ib2eav6ct36e1lioljr4qt9pf.apps.googleusercontent.com"
      data-redirecturi="postmessage"
      data-accesstype="offline"
      data-cookiepolicy="single_host_origin"
      data-callback="signInCallback"
      data-approvalprompt="force">
      </span>
    </div>
    <div id="result"></div>

    <script>
      function signInCallback(authResult) {
        if (authResult['code']) {
          // hide the sign-in button now that the user is authorized
          $('#signinButton').attr('style', 'display: none');
          // send one-time-use code to server, if the server responds, write a
          // 'login successful' message to the page and redirect to main restaurants page
          $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
            processData: false,
            contentType: 'application/octet-stream; charset=utf-8',
            data: authResult['code'],
            success: function(result) {
              if (result) {
                $('#result').html('Login Sucessful!<br>' + result + '<br>Redirecting...');
                setTimeout(function() {
                  window.location.href = "/restaurant";
                }, 4000);
              } else if (authResult['error']) {
                console.log('There was an error: ' + authResult['error']);
              } else {
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
              }
            }
          });
        }
      }
    </script>
  </body>
</html>
